<mat-table [dataSource]="votersData" style="overflow-y: scroll; height: 300px">
  <ng-container matColumnDef="Name">
    <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
    <mat-cell *matCellDef="let element">{{element.name}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="HasVoted">
    <mat-header-cell *matHeaderCellDef>HasVoted</mat-header-cell>
    <mat-cell *matCellDef="let element">
      <mat-icon *ngIf="element.hasVoted">done</mat-icon>
      <mat-icon *ngIf="!element.hasVoted">close</mat-icon>
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="Voters">
    <mat-header-cell *matHeaderCellDef style="justify-content: space-between">Voters
      <button mat-icon-button (click)="openAddDialog()">
        <mat-icon fontIcon="add_circle">add</mat-icon>
      </button>
    </mat-header-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="['Voters']; sticky: true" [attr.aria-colspan]="2"></mat-header-row>
  <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true" ></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
</mat-table>
